<?xml version="1.0"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>AJAX proxy</display-name>
	<description>Proxies AJAX calls through JavaScript callback functions.</description>
	
	<servlet>
		<servlet-name>ajaxproxy</servlet-name>
		<servlet-class>de.cdauth.ajaxproxy.Servlet</servlet-class>
		
		<init-param>
			<param-name>urlWhiteList</param-name>
			<param-value>^http(s?)://((www\.|api\.)?openstreetmap\.org/api/.*|[^?#]+\.(xml|kml|osm|gpx)([#?].*)?)$</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ajaxproxy</servlet-name>
		<url-pattern>/proxy.js</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>CompressingFilter</filter-name>
		<filter-class>com.planetj.servlet.filter.compression.CompressingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CompressingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
