<?xml version="1.0"?>

<!--
 * ajax-proxy is a web proxy that tunnels XMLHttpRequests through JavaScript function callbacks.
 * 
 * Copyright ⓒ 2010 Candid Dauth
 * 
 * This program is free software; you can redistribute it and/or modify it under the terms of the
 * GNU Affero General Public License as published by the Free Software Foundation; either version 3
 * of the License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License along with this program;
 * if not, see <http://www.gnu.org/licenses/>.
-->

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>AJAX proxy</display-name>
	<description>Proxies AJAX calls through JavaScript callback functions.</description>
	
	<servlet>
		<servlet-name>ajaxproxy</servlet-name>
		<servlet-class>de.cdauth.ajaxproxy.Servlet</servlet-class>
		
		<init-param>
			<param-name>urlWhiteList</param-name>
			<param-value>
				^http(s?)://(
					(www\.|api\.|xapi\.)?openstreetmap\.org/api/.*
					|
					(www\.|api\.)?openstreetmap\.org/trace/\d+/data
					|
					[^?\#]+\.(xml|kml|osm|gpx|gml)([\#?].*)?
					|
					nominatim\.openstreetmap\.org/search.*
					|
					gazetteer\.openstreetmap\.org/namefinder.*
					|
					osmxapi\.hypercube\.telascience\.org/api/.*
					|
					osm\.bearstech\.com/osmxapi/api/.*
					|
					(www\.)?informationfreeway\.org/api/.*
					|
					tagwatch\.stoecker\.eu/osmxapi/.*
					|
					tagwatch\.openstreetmap\.de/osmxapi/.*
					|
					open\.mapquestapi\.com/.*
				)$
			</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ajaxproxy</servlet-name>
		<url-pattern>/proxy.js</url-pattern>
	</servlet-mapping>
</web-app>
